@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">Loading...</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>    
  @section scripts {
      <script src="~/dist/main.js" asp-append-version="true"></script>
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <script src="https://apis.google.com/js/api.js"></script>
}
