@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">Loading...</div>
<meta name="google-signin-client_id" content="377612088819-c48ddabs6r1b3go8dma2hanjms6r7npu.apps.googleusercontent.com">


@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
}
